name: NPM Release

on:
    release:
        types: [published]

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup pnpm
              uses: pnpm/action-setup@v4

            - name: Setup Node LTS
              uses: actions/setup-node@v4
              with:
                  node-version: lts/*
                  registry-url: https://registry.npmjs.org
                  cache: pnpm

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Lint
              run: pnpm lint

            - name: Build
              run: pnpm build

            - name: Publish
              uses: simenandre/publish-with-pnpm@v2
              with:
                  npm-auth-token: ${{ secrets.NPM_TOKEN }}
